body {
  font-family: 'Roboto', sans-serif;
  color: #000205;
}



h1,
h2,
h3,
h4 {
  font-weight: bold;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 15px;
  background-color: #372bd8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call_to-btn img,
.sub_call_to-btn img {
  width: 9px;
  margin-left: 15px;
  margin-top: 3px;
}

.call_to-btn:hover,
.sub_call_to-btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);
}

.sub_call_to-btn {
  display: inline-block;
  padding: 10px 28px;
  border-radius: 25px;
  background-color: #311cf3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*header section*/
.top_container {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f8;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
}


.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 15px;
  color: #2618f0;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}


.top_container.sub_page {
  height: auto; 
}

.navbar-brand,
.navbar-brand:hover {
  font-size: 30px;
  color: #2a1cf3;
  font-weight: bold;
}

.custom_nav-container {
  z-index: 99999;
  padding: 10px 0;
  
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

/*end header section*/


/* hero section */
.hero_section-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.number-container {
  position: absolute;
  top: 20%;
  left: 4%;
}

.number-container .number-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #464646;
}

.number-container .number-box hr {
  border: none;
  width: 2px;
  height: 125px;
  background-color: #f8d92b;
  margin: 35px 0;
}

.hero_section-container .hero_img-box {
  width: 40%;
  margin-top: 20px;
}

.hero_section-container .hero_img-box img {
  width: 50%;
  
}

.hero_section-container .hero_detail-box {
  width: 58%;

}

.hero_section-container .hero_detail-box .hero_detail-container {
  padding-left: 45px;
  padding-bottom: 15px;
}

.hero_section-container .hero_detail-box .hero_detail-container p {
  margin: 35px 0 50px 0;
}



.carousel-control-prev,
.carousel-control-next {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #f8d92b;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px;
  top: initial;
  bottom: -100px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #464646;
}



.carousel-control-prev {
  background-image: url(../images/left-arrow.png);
  left: 45px;
}

.carousel-control-next {
  background-image: url(../images/right-arrow.png);
  left: 95px;
}

/* end hero section */

/* about section */
.about_section {
  background-color: #ffffff;

}

.about_section .row {
  align-items: center;
  margin: auto;
}

.about_img-box img {
  width: 100%;
}

.about_detail-box p {
  margin: 45px 0;
  font-size: medium;
}
.hobby_detail-box {
  margin: 45px 0;
  font-size: medium;
}

.hobby_img-box img {
  width: 45%;
}
.aboutme_img-box img {
  width: 45%;
}

.story_img-box img {
  width: 30%;
}
.value_img-box img {
  width: 20%;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
  color: red; 
}

/* end about section */

/* Projects section */
.Projects_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 10px;
  
}

.Projects_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 15px 0 15px;
  transform: translateY(0);
  transition: all .7s;
  padding-bottom: 50px;
}

.Projects_box:hover {
  transform: translateY(-150px);
  cursor: pointer;
}

.Projects_box:hover .Projects_img-box {
  background-color: #98dd60;
}

.Projects_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 295px;
  border-radius: 90px;
  background-color: #d4e6e385;

}


.Projects_box h4 {
  margin-top: 15px;
}

.Projects_img-box img {
  width: 120px;
}

.Projects_detail p {
  margin-bottom: 55px;
  text-align: left;
}

.heading-text {
  padding: 0;
  margin: 0;
  color: #fddd33;
  font-weight: bold;
}


.style {
  background: #ffffff;
  font-size: 19px;
  overflow: auto;
  width: auto;
  border: solid orange;
  border-width: .1em .1em .1em .8em;
  padding: .2em .6em;
}

/* end Projects section */

/* blot section */
.blog_section {

  background-color: white;
}

.blog_container {
  padding: 100px 0;
}

.blog_container>* {
  margin-bottom: 35px;
}

.blog_container h4 {
  font-weight: normal;
}

.blog_container h4,
.blog_container p {
  font-family: 'Poppins', sans-serif;
}

.cont {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}

.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.cont textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}

button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

button.primaryContained:hover {
	background: #9201A8;
}

/* end blog section */

/* contact section */
.contact_section .col-md-6 {
  padding: 0;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 1px solid #252525;
  width: 90%;
  margin: 10px 0;
}

.contact_form-container {
  padding: 45px;
  padding-right: 0;
}

.contact_form-container button {
  border: none;
  background-color: #fddd33;
  color: #fff;
  padding: 8px 40px;
  border-radius: 20px;
}

.contact_img-box {
  display: flex;
  align-items: center;
  padding: 45px;
  padding-left: 0;
}

.blog_img-box img {
  width: 90%;
}

.contact_section h2 {
  font-size: 26px;
  color: #010103;
  font-weight: bold;

  position: relative;
  margin-left: 2.5%;
}
/* end contact section */

/* info section */
.info_section {
  padding-top: 60px;
  padding-bottom: 1px;
  color: rgb(10, 10, 10);
  background-color: white;
}

.info_section .col-md-4 {

  padding: 0 30px;
}

.info_section .col-md-4 h5 {
  text-transform: uppercase;
}



.custom_border-btm {
  border-bottom: 2px solid #e2e9eb;
}

.custom_border-btm1 {
  border-bottom: 1px solid red;
}

.info_social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 30px auto;
  box-shadow: #eecc0f;
}

/* end info section */



/* footer section*/

.footer_section {
  background-color: #f4f4f8;
  padding: 5px 13px;
  font-family: 'Poppins', sans-serif;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

.footer_section p {
  color: #000;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #000;
}

/* end footer section*/
